include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        svg(id='gardient')
            linearGradient(id='gradient1')
                stop(offset='0%' stop-color='#FE5B3A')
                stop(offset='100%' stop-color='#8F43FE')
        .wrapper
            //- heeader
            header.header
                //- desctop
                .header__desctop
                    //- top
                    .header__top
                        .container
                            .header__top-row
                                //- left
                                .header__top-left
                                    //- nav
                                    .hnav
                                        each i in headerNav
                                            a(href=i.href).hnav__item= i.title

                                //- right
                                .header__top-right
                                    //- socials
                                    .socials
                                        each i in socials
                                            a(href=i.href).social
                                                +image('images/icons/' + i.icon + '.svg','','social__svg')


                    //- middle
                    .header__middle
                        .container
                            .header__middle-row
                                //- left
                                .header__middle-left
                                    //- logo
                                    a(href='/').header__logo
                                        +image('images/icons/logo.svg','','header__logo-img')
                                        span.header__logo-title
                                            | Интернет-магазин
                                            br
                                            | цветов и подарков

                                //- right
                                .header__middle-right
                                    //- contacts
                                    .header__contacts
                                        //- tel
                                        a(href='tel:8(800)984-12-12').header__tel.tel 8 (800) 984-12-12
                                        //- callback
                                        a(href='#').btn.jsCallorder
                                            span.btn__img
                                                +image('images/icons/tel.png', '', '')
                                            span.btn__txt Обратный звонок


                    //- bottom
                    .header__bottom
                        .container
                            .header__bottom-row
                                //- left
                                .header__bottom-left
                                    //- menu
                                    .header__menu
                                        .menu
                                            each i in menu
                                                .menu__item
                                                    a(href='catalog.html').menu__link
                                                        span.menu__link-title= i.title
                                                        +icon('triangle','menu__link-svg')
                                                    .submenu
                                                        each j in i.submenu
                                                            a(href='catalog.html').submenu__item
                                                                .submenu__item-title= j


                                    //- link
                                    a(href='/').header__link
                                        +image('images/icons/teddy.png', '','header__link-img')
                                        span.header__link-title добавить к букету


                                //- right
                                .header__bottom-right
                                    //- controls
                                    .hcontrols
                                        each i in headerControls
                                            .hcontrols__item
                                                a(href=i.href).hcontrol
                                                    +icon(i.icon,'hcontrol__svg')
                                                    if i.count
                                                        span.hcontrol__count= i.count



                //- tablet
                .header__tablet
                    .theader
                        //- top
                        .theader__top
                            .container
                                .theader__top-row
                                    //- left
                                    .theader__top-left
                                        //- logo
                                        a(href='/').header__logo
                                            +image('images/icons/logo.svg','','header__logo-img')



                                    //- right
                                    .theader__top-right
                                        a(href='https://wa.me/79259841212').theader__wapp
                                            +image('images/icons/whatsapp.svg','','theader__wapp-img')
                                        .thcontrols
                                            a(href='basket.html').thcontrol
                                                +icon('basket','thcontrol__svg thcontrol__svg_basket')
                                                span.thcontrol__count 99
                                            button(type='button').thcontrol.jsMmenuOpen
                                                +icon('menu','thcontrol__svg thcontrol__svg_menu')


                        //- bottom
                        .theader__bottom
                            .container
                                .theader__bottom-row
                                    //- left
                                    .theader__bottom-left
                                        //- tel
                                        a(href='tel:8(800)984-12-12').header__tel.tel 8 (800) 984-12-12

                                    //- center
                                    .theader__bottom-center
                                        //- socials
                                        .socials
                                            each i in socials
                                                a(href=i.href).social
                                                    +image('images/icons/' + i.icon + '.svg','','social__svg')



                                    //- right
                                    .theader__bottom-right
                                        //- callback
                                        a(href='#').btn.jsCallorder.theader__callorder
                                            span.btn__img
                                                +image('images/icons/tel.png', '', '')
                                            span.btn__txt Обратный звонок





            //- pages
            .page
                block content

            //- footer
            footer.footer
                //- banner
                .footer__banner
                    .fbanner
                        .container
                            .fbanner__row
                                .fbanner__title В вашей корзине уже лежит бесплатная открытка от нас!
                                a(href='#').fbanner__btn.btn4
                                    span.btn4__img
                                        +image('images/icons/basket.png','','btn4__pic')
                                        +image('images/icons/basket-hover.png','','btn4__pic btn4__pic_h')
                                        span.btn4__count 1
                                    span.btn4__txt Забрать подарок


                //- top
                .footer__top
                    .container
                        .row
                            //- left
                            .footer__left
                                a(href='/').footer__logo
                                    +image('images/icons/logo.svg','','footer__logo-img')
                                    span.footer__logo-title
                                        | Интернет-магазин
                                        | цветов и подарков


                            //- menu
                            .footer__menu
                                .fmenu
                                    .row
                                        each col in footerMenu
                                            .fmenu__col
                                                .fmenu__title= col.title
                                                .fmenu__list
                                                    each i in col.list
                                                        a(href=i.href).fmenu__item= i.title

                            //- contacts
                            .footer__contacts
                                .fcontacts
                                    a(href='https://yandex.ru/maps/-/CGDz5P2Y' target='_blank').fcontact
                                        span.fcontact__icon
                                            +icon('pin','fcontact__svg')
                                        span.fcontact__val
                                            span.fcontact__val-title г. Москва, ул.2-ая Прядильная, д.1
                                    a(href='mailto:flowers@gmail.com' ).fcontact
                                        span.fcontact__icon
                                            +icon('mail','fcontact__svg')
                                        span.fcontact__val
                                            span.fcontact__val-mail flowers@gmail.com
                                    span.fcontact
                                        span.fcontact__icon
                                            +icon('time','fcontact__svg')
                                        span.fcontact__val
                                            span.fcontact__val-text График работы:
                                            span.fcontact__val-time пн-вс: 9:00 - 18:00


                                .footer__socials
                                    .socials
                                        each i in socials
                                            a(href=i.href).social
                                                +image('images/icons/' + i.icon + '.svg','','social__svg')


                            //- right
                            .footer__right
                                //- tel
                                a(href='tel:8(800)984-12-12').footer__tel.tel.tel_g 8 (800) 984-12-12
                                //- socials
                                .footer__socials
                                    .socials
                                        each i in socials
                                            a(href=i.href).social
                                                +image('images/icons/' + i.icon + '.svg','','social__svg')


                                a(href='#').footer__btn.btn3.jsCallorder
                                    span.btn3__txt заказазать звонок
                //- tablet
                .footer__tablet
                    .container
                        //- tel
                        a(href='tel:8(800)984-12-12').footer__tel.tel.tel_g 8 (800) 984-12-12
                        a(href='#').footer__btn.btn3.jsCallorder
                            span.btn3__txt заказазать звонок
                //- bottom
                .footer__bottom
                    .container
                        .footer__bottom-row
                            .footer__copy Copyright 2019 © Все права защищены
                            .footer__dev
                                .footer__dev-title Разработано
                                +image('images/icons/dev.png','','footer__dev-img')



        //- popup
        .popup
            .popup__content

        //- templates
        .templates
            form(data-id='callorder').form
                //- close
                button(type='button').form__close
                    +icon('close', 'form__close-svg')
                //- content
                .form__content
                    //- title
                    .form__title Заказать звонок
                    //- sub
                    .form__sub Мы свяжемся с Вами в течение нескольких минут.

                    //- fields
                    .form__fields
                        .fields
                            .field.field_24
                                .field__label *Имя:
                                input(type='text' name='callName' placeholder='Александр').input
                            .field.field_24
                                .field__label *Телефон:
                                input(type='tel' name='callTel' placeholder='+7 (916) 566-54-67').input

                    //- fz
                    .form__fz
                        label.fz
                            input(type='checkbox' name='callFz' checked=true data-btn='form__submit').fz__input
                            span.fz__wrap
                                span.fz__fake
                                    +icon('check', 'fz__fake-svg')
                                span.fz__txt Я даю согласие на обработку персональных данных

                    //- submit
                    button(type='submit').btn4.form__submit
                        span.btn4__txt Заказать звонок

                    //- hidden
                    input(type='hidden' name='action' value='callorderSubmit')

            form(data-id='fastbuy').form2
                //- close
                button(type='button').form2__close
                    span.form2__close-wrap
                        +icon('close', 'form2__close-svg')
                //- content
                .form2__content
                    //- title
                    .form2__title Быстрая покупка
                    //- sub
                    .form2__sub Заполните свои контактные данные и мы свяжемся с Вами для подтверждения заказа

                    //- fields
                    .form2__fields
                        .fields
                            .field.field_15
                                .field__label *Имя:
                                input(type='text' name='fastName' placeholder='Александр').input
                            .field.field_9
                                .field__label *Телефон:
                                input(type='tel' name='fastTel' placeholder='+7 (916) 566-54-67').input
                            .field.field_24
                                .field__label *Адрес доставки:
                                input(type='text' name='fastAddr' placeholder='Введите адрес').input
                            .field.field_24
                                .field__label *Способ оплаты:
                                select(name='fastPaytype').form__select
                                    option(value='Оплата картой') Оплата картой
                                    option(value='Наличные при получении') Наличные при получении
                                    option(value='Картой на сайте') Картой на сайте
                                    option(value='Счет в банк') Счет в банк

                    //- bottom
                    .form2__bottom
                        .form2__bottom-left
                            //- fz
                            .form2__fz
                                label.fz.fz_r
                                    input(type='checkbox' name='fastFz' checked=true data-btn='form2__submit').fz__input
                                    span.fz__wrap
                                        span.fz__fake
                                            +icon('check', 'fz__fake-svg')
                                        span.fz__txt Я даю согласие на обработку персональных данных

                        .form2__bottom-right
                            //- submit
                            button(type='submit').btn4.btn4_r.form2__submit
                                span.btn4__txt Оформить заказ

                    //- btn
                    button(type='button').form2__btn.jsLazyman Не хочу ничего заполнять, перезвоните мне

                    //- hidden
                    input(type='hidden' name='action' value='fastbuySubmit')
                    input(type='hidden' name='id' value='').form2__id

            form(data-id='lazyman').form.form_lazy
                //- close
                button(type='button').form__close
                    +icon('close', 'form__close-svg')
                //- content
                .form__content
                    //- title
                    .form__title.form__title_lazy мы сделаем всё за вас&nbsp;
                        .form__title_b в течении
                            mark 4 минут
                    //- sub
                    .form__sub Не тратьте время на заполнение форм, мы позвоним и сами все уточним!

                    //- fields
                    .form__fields
                        .fields
                            .field.field_24
                                .field__label *Имя:
                                input(type='text' name='lazyName' placeholder='Александр').input
                            .field.field_24
                                .field__label *Телефон:
                                input(type='tel' name='lazyTel' placeholder='+7 (916) 566-54-67').input

                    //- fz
                    .form__fz
                        label.fz
                            input(type='checkbox' name='lazyFz' checked=true data-btn='form__submit').fz__input
                            span.fz__wrap
                                span.fz__fake
                                    +icon('check', 'fz__fake-svg')
                                span.fz__txt Я даю согласие на обработку персональных данных

                    //- submit
                    button(type='submit').btn4.form__submit
                        span.btn4__txt Оформить заказ

                    //- hidden
                    input(type='hidden' name='action' value='lazymanSubmit')
                    input(type='hidden' name='id' value='').form__id

        //- mmenu
        .mmenu
            //- close
            button(type='button').mmenu__close.jsMmenuClose
                +icon('close', 'mmenu__close-svg')

            //- wrap
            .mmenu__wrap
                //- search
                .mmenu__block.mmenu__search
                    form(action='search.html' method='post').msearch
                        input(type='search' name='search' placeholder='Поиск по сайту').msearch__input
                        button(type='submit').msearch__submit
                            +icon('loop', 'msearch__submit-svg')

                //- controls
                .mmenu__block.mmenu__controls
                    .mcontrols
                        each i in mcontrols
                            a(href=i.href class=i.cls).mcontrol
                                +icon(i.icon,'mcontrol__svg mcontrol__svg_'+i.icon)
                                span.mcontrol__title= i.title
                                if i.count
                                    span.mcontrol__count= i.count

                //- nav
                .mmenu__block.mmenu__nav
                    .mnav
                        each i in menu
                            .mnav__item
                                .mnav__item-btn= i.title
                                .msubnav
                                    each j in i.submenu
                                        a(href='category.html').msubnav__item= j
                //- menu
                .mmenu__block.mmenu__list
                    each i in mmenuList
                        a(href=i.href).mmenu__item= i.title

                //- bottom
                .mmenu__block.mmenu__bottom
                    //- left
                    .mmenu__bottom-left
                        a(href='tel:8(800)984-12-12').mmenu__tel 8 (800) 984-12-12

                    //- center
                    .mmenu__bottom-center
                        .msocials
                            each i in msocials
                                a(href=i.href).msocial
                                    +image('images/icons/' + i.icon + '.svg','','msocial__svg')

                    //- right
                    .mmenu__bottom-right
                        //- callback
                        a(href='#').btn.jsCallorder
                            span.btn__img
                                +image('images/icons/tel.png', '', '')
                            span.btn__txt Обратный звонок













        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        script(src='js/vendor.min.js')
        script(src='js/main.min.js')



