mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
    if imageAlt
        - var alt = 'lorem'
    else
        - var alt = imageAlt
    img(src=`${imagePath}`, alt=`${alt}`, class=`${imageClass}`)

mixin item(icon,src,title,dopClass)
    a(href='product.html' data-id=img class=dopClass).item
        span.iteml
            span.row
                //- left
                span.iteml__left
                    //- img
                    span.iteml__img
                        +image(src,'','iteml__img-img')
                    //- title
                    span.iteml__title= title
                //- prices
                span.iteml__center
                    span.iteml__prices
                        span.iteml__price.price
                            span.price__val 2 295&nbsp;
                            span.price__cur руб.
                        span.iteml__oldprice.price.price_old
                            span.price__val -3 140&nbsp;
                            span.price__cur руб.
                //- controls
                span.iteml__controls
                    span.iteml__control.jsFavorites
                        +icon('heart','iteml__control-svg')
                        span.iteml__control-title В избранное
                    span.iteml__control.jsCompare
                        +icon('compare','iteml__control-svg')
                        span.iteml__control-title В сравнение
                //-right
                span.iteml__right
                    span.iteml__buttons
                        //- buy
                        span.btn4.btn4_r.iteml__buy.jsBuy
                            span.btn4__txt В корзину
                        //- one
                        span.iteml__one.jsOne
                            +icon('arrow','iteml__one-svg')
                            span.iteml__one-txt Купить в 1 клик




        //- visible
        span.item__visible
            //- icon
            if icon
                +image('images/icons/stick.svg','','item__icon')

            //- img
            span.item__img
                +image(src,'','item__img-img')


            //- controls
            span.item__controls
                span.item__control.jsFavorites
                    +icon('heart','item__control-svg')
                span.item__control.jsCompare
                    +icon('compare','item__control-svg')

            //- title
            span.item__title= title

            //- prices
            span.item__prices
                span.item__price.price
                    span.price__val 2 295&nbsp;
                    span.price__cur руб.
                span.item__oldprice.price.price_old
                    span.price__val -3 140&nbsp;
                    span.price__cur руб.


        //- hidden
        span.item__hidden
            //- buy
            span.btn4.item__buy.jsBuy
                span.btn4__txt В корзину

            //- one
            span.item__one.jsOne
                +icon('arrow','item__one-svg')
                span.item__one-txt Купить в 1 клик

mixin filters
    .filters
        .row
            //- price
            .filter
                .fprice
                    //- top
                    .fprice__top
                        .fprice__title Цена
                        +icon('angle','fprice__angle')
                    //- bottom
                    .fprice__bottom
                        .range
                            //- fields
                            .range__fields
                                label.range__label От
                                    input(type='text' name='from' value='390').range__input.range__input_from
                                label.range__label До
                                    input(type='text' name='to' value='237 990').range__input.range__input_to
                            //- slider
                            input(type='text' name='range' value='' data-type='double' data-min='390' data-max='300000' data-from='390' data-to='237990').range__slider
            //- name
            .filter
                select(data-placeholder='Цветы' name='flowers').select.filter__select
                    option(value='')
                    option(value='Все') Все
                    option(value='Lorem1') Lorem1
                    option(value='Lorem2') Lorem2
                    option(value='Loremlksdfgjl kjdfl jdslf gkjssdjkhdkjfghdskfgjhfks sdkj ghsdfkg jhsdkf') Loremlksdfgjl kjdfl jdslf gkjssdjkhdkjfghdskfgjhfks sdkj ghsdfkg jhsdkf
                    option(value='Lorem4') Lorem4
            //- sex
            .filter
                select(data-placeholder='Кому' name='sex').select.filter__select
                    option(value='')
                    option(value='Все') Все
                    option(value='Мужчина') Мужчина
                    option(value='Женщина') Женщина
                    option(value='Другое') Другое
            //- event
            .filter
                select(data-placeholder='Событие' name='event').select.filter__select
                    option(value='')
                    option(value='Все') Все
                    option(value='Lorem1') Lorem1
                    option(value='Lorem2') Lorem2
                    option(value='Lorem3') Lorem3
            //- style
            .filter
                select(data-placeholder='Стиль' name='style').select.filter__select
                    option(value='')
                    option(value='Все') Все
                    option(value='Lorem1') Lorem1
                    option(value='Lorem2') Lorem2
                    option(value='Lorem3') Lorem3

mixin slider(title,dopClass)
    div(class=dopClass).slider
        .container
            //- top
            .slider__top
                .slider__title
                    +image('images/icons/gift.svg','','slider__title-img')
                    .slider__title-txt= title
                .slider__text Усильте впечатление от букета


            //- bottom
            .slider__bottom
                //- swiper
                .slider__container.swiper-container
                    .swiper-wrapper
                        each i in indexGifts
                            .swiper-slide.slider__slide
                                +item(false,i.src,i.title,'item_bdw')
                //- nav
                .slider__nav
                    //- prev
                    button(type='button').slider__prev.slider__arr
                        +icon('prev','slider__arr-svg')
                    //- scrollbar
                    .slider__scrollbar
                        .slider__scrollbar-wrap.swiper-scrollbar
                    //- next
                    button(type='button').slider__next.slider__arr
                        +icon('next','slider__arr-svg')
                //- look
                .slider__look
                    a(href='catalog.html').slider__link
                        span.slider__link-title Смотреть все подарки
                        +icon('present','slider__link-svg')

mixin feed(title, subtitle, btn)
    form.feed
        .row
            .feed__col
                //- title
                .feed__title= title
                //- sub
                .feed__sub= subtitle
                //- row
                .feed__row
                    .row
                        .feed__field
                            .feed__label *Как к вам обращаться?
                            input(type='text' name='name' placeholder='Например Иван Иванов').feed__input
                        .feed__field
                            .feed__label *Телефон
                            input(type='tel' name='tel' placeholder='+7 ___-___-__-__').feed__input
                //- agree
                .feed__agree
                    label.agree
                        input(type='checkbox' name='agree' checked=true).agree__input
                        span.agree__fake
                        span.agree__txt Я даю согласие на обработку персональных данных
                //- submit
                button(type='submit' class=btn).feed__submit
                    span(class=btn+'__txt') оставить заявку

mixin pag(href)
    .pag
        a(href=href).pag__arr
            +icon('angle-l','pag__svg')
        .pag__items
            a(href=href).pag__item
                .pag__item-val 1
            a(href=href).pag__item
                .pag__item-val 2
            a(href=href).pag__item.active
                .pag__item-val 3
            a(href=href).pag__item
                .pag__item-val ...
            a(href=href).pag__item
                .pag__item-val 23
        a(href=href).pag__arr
            +icon('angle-r','pag__svg')
